<!DOCTYPE html>
<html lang="en">
  <head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135236852-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-135236852-1');
  </script>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Bagel Concert Finder · Find Bagel Radio Concerts in your area</title>
      <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
  <body>
  <div class="container">
    <header>
      <section>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Bagel Radio Concert Finder</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="https://www.amazon.com/hz/wishlist/ls/3L7DM7FMR5OQU?ref_=wl_share" target="_blank">Amazon Wish List</a></li>
        <li><a href="https://twitter.com/sergio_101?lang=en" target="_blank"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/sergio101" target="_blank"><i class="fab fa-facebook"></i></a></li>
        <li><a href="mailto:sergio.rrd@gmail.com" target="_blank"><i class="fas fa-envelope-square"></i></a></li>
      </ul>
    </div>
  </nav>
      </section>
    </header>
    <main role="main">
    <div class="containter">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
    </div>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
